<div>
    <form name="planPagos" role="form">
        <p>
            <label for="lineaCredito">Linea de credito:</label>
            <select id="lineaCredito"
                    required="true"
                    ng-required="true"
                    ng-model="datosPlanPagos.lineaCredito">
                
            </select>
        </p>
        <p>
            <label for="cedula">C&eacute;dula:</label>
            <input type="text" 
                   id="cedula" 
                   class="form-control required"
                   required="true"
                   ng-required="true"
                   ng-model="datosPlanPagos.cedula"/>
        </p>
        <p>
            <label for="fechaNacimiento">Fecha de nacimiento:</label>
            <input type="text" 
                   id="fechaNacimiento" 
                   class="form-control required"
                   required="true"
                   ng-required="true"
                   ng-model="datosPlanPagos.fechaNacimiento"/>
        </p>
        
        <p>
            <label for="valor">Valor:</label>
            <input type="text" 
                   id="valor" 
                   class="form-control required"
                   required="true"
                   ng-required="true"
                   ng-model="datosPlanPagos.valor"/>
        </p>
        <p>
            <label for="plazo">Plazo:</label>
            <input type="text" 
                   id="plazo" 
                   class="form-control required"
                   required="true"
                   ng-required="true"
                   ng-model="datosPlanPagos.plazo"/>
        </p>
        <p>
            <input type="submit" value="Generar" />
            <input type="button" value="Limpiar" ng-click="limpiar()"/>
        </p>
    </form>
</div>